@import url('typography.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /*   height: 100vh; */
  background-color: #f4f4f4;
}

.container {
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  /*   max-width: 900px; */
  width: 100%;
  gap: 20px;
}

.text-content {
  flex: 1;
  min-width: 300px;
}

.text-content h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.text-content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #555;
}

.text-content p {
  font-size: 1rem;
  color: #666;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  flex: 1;
  min-width: 200px;
}

.grid button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
}

.grid button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Imágenes de ejemplo */
.grid button:nth-child(1) {
  background-image: url('assets/images/albert.jpg');
}
.grid button:nth-child(2) {
  background-image: url('assets/images/daniela.jpg');
}
.grid button:nth-child(3) {
  background-image: url('assets/images/ricard.jpg');
}
.grid button:nth-child(4) {
  background-image: url('assets/images/laia.jpg');
}
.grid button:nth-child(5) {
  background-image: url('assets/images/jaume.jpg');
}
.grid button:nth-child(6) {
  background-image: url('assets/images/clara.jpg');
}
.grid button:nth-child(7) {
  background-image: url('assets/images/luis-angel.jpg');
}
.grid button:nth-child(8) {
  background-image: url('assets/images/anna.jpg');
}
.grid button:nth-child(9) {
  background-image: url('assets/images/xavier.jpg');
}
/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.modal-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.modal-details img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.modal-details div {
  text-align: center;
  margin-bottom: 5px;
}

.modal-details label {
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid button {
    width: 180px;
    height: 180px;
  }
  .container {
    padding: 32px;
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid button {
    width: 120px;
    height: 120px;
  }
  .container {
    padding: 16px;
  }
}
